export MNEMONIC="recycle music volcano weasel city payment tube venture quit bottom walk argue",
export apiKey: "AIzaSyA_AmJiXG-UFTrUfxBFGg6XPq56Yx5gZPg",
export authDomain: "image-guardian.firebaseapp.com",
export provider: "recycle music volcano weasel city payment tube venture quit bottom walk argue"